.fighter-preview___root {
  display: flex;
  flex-direction: row;
  flex-basis: 250px;
  max-width: 300px;
  height: 350px;
}

.fighter-preview___right {
  align-items: center;
}

.fighter-preview___left {
  align-items: center;
  flex-direction: row-reverse;
}

.fighter-preview___img {
  max-width: 100%;
  max-height: 100%;
}

.fighter-preview___right .fighter-preview___img {
  transform: scaleX(-1);
}

.fighter_info {
  margin: 30px;
  background-color: #ffdfa7;
  border: 5px solid #ca9650;
  padding: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 20px;
}

.fighter_info div {
  width: max-content;
}
